/* ヘッダー */
.nav {
  margin: 2rem 0 2.5rem 0;
}

.navbar {
  align-items: center;
  background: #bb5520;
  display: flex;
  height: 6rem;
  justify-content: space-between;
}

.navbar-brand img {
  width: 240px;
}

.nav-item {
  color: #fff;
}

a.nav-item:hover {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

/* フッター */
footer {
  background: #bb5520;
  height: 4rem;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

/* 管理画面 */
.card a {
  color: #bb5520;
  text-decoration: none;
}

.card a:hover {
  color: #ec6800;
}

/* 全体 */
body {
  background-color: #f4f7f8;
}

.btn-add {
  background: #bb5520;
  color: #fff;
}
.btn-add:hover {
  background-color: #ec6800;
  color: #fff;
}

/* トップページ（商品一覧） */
.top-image {
  width: 100%;
  position: relative;
}
.top-image h1 {
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 8px;
}
.top-image img {
  width: 100%;
  height: 600px;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-img {
  width: 100%;
  height: 100%;
}

/* 店舗情報 */
.shop-map img {
  width: 540px;
  height: 300px;
}

/* Cart */
.qty-form {
  width: 50px;
}

.required {
  background: #c9171e;
  color: #fff;
  font-size: 14px;
  padding: 3px;
}